In [1]:
import requests
import pandas as pd

In [2]:
AllCourses = "https://mario-kart-tour-api.herokuapp.com/api/v1/courses/"

In [3]:
# Gather the course data
CourseData = requests.get(AllCourses).json()

# Create our DataFrame
courses_df = pd.DataFrame(CourseData)
courses_df

,name,debut_tour,date_added,debut_game,debut_system,is_ranked_week_1,is_ranked_week_2,is_reverse,is_trick,level_one_top_shelf_drivers,level_three_top_shelf_drivers,level_six_top_shelf_drivers
0,3DS Cheep Cheep Lagoon,New York Tour,2019-09-25T00:00:00.000Z,Mario Kart 7,3DS,False,False,False,False,"[{'id': 2, 'name': 'Baby Peach', 'rarity': 'No...",[],"[{'id': 60, 'name': 'Mario (Happi)', 'rarity':..."
1,3DS Cheep Cheep Lagoon R,New York Tour,2019-09-25T00:00:00.000Z,Mario Kart 7,3DS,False,False,True,False,"[{'id': 11, 'name': 'Lemmy', 'rarity': 'Normal...","[{'id': 54, 'name': 'Peach (Vacation)', 'rarit...",[]
2,3DS Cheep Cheep Lagoon R/T,Holiday Tour,2019-12-18T00:00:00.000Z,Mario Kart 7,3DS,False,False,True,True,"[{'id': 6, 'name': 'Koopa Troopa', 'rarity': '...","[{'id': 38, 'name': 'Pink Shy Guy', 'rarity': ...","[{'id': 10, 'name': 'Larry', 'rarity': 'Normal..."
3,3DS Cheep Cheep Lagoon T,New York Tour,2019-09-25T00:00:00.000Z,Mario Kart 7,3DS,False,False,False,True,"[{'id': 16, 'name': 'Mario', 'rarity': 'Super'...",[],"[{'id': 70, 'name': 'Yoshi (Egg Hunt)', 'rarit..."
4,3DS Daisy Hills,New York Tour,2019-09-25T00:00:00.000Z,Mario Kart 7,3DS,False,False,False,False,"[{'id': 19, 'name': 'Daisy', 'rarity': 'Super'...","[{'id': 69, 'name': 'Baby Rosalina (Detective)...",[]
...,...,...,...,...,...,...,...,...,...,...,...,...
217,Wii DK Summit R,Snow Tour,2021-02-24T00:00:00.000Z,Mario Kart Wii,Wii,False,False,True,False,"[{'id': 71, 'name': 'Black Yoshi', 'rarity': '...",[],"[{'id': 93, 'name': 'Penguin Toad', 'rarity': ..."
218,Wii DK Summit T,Snow Tour,2021-02-24T00:00:00.000Z,Mario Kart Wii,Wii,False,False,False,True,"[{'id': 73, 'name': 'Builder Toad', 'rarity': ...",[],[]
219,Wii Maple Treeway,Halloween Tour (2020),2020-10-21T00:00:00.000Z,Mario Kart Wii,Wii,False,False,False,False,"[{'id': 61, 'name': 'Toad (Party Time)', 'rari...",[],"[{'id': 114, 'name': 'Shy Guy (Gold)', 'rarity..."
220,Wii Maple Treeway R,Halloween Tour (2020),2020-10-21T00:00:00.000Z,Mario Kart Wii,Wii,False,False,True,False,"[{'id': 25, 'name': 'Red Yoshi', 'rarity': 'Su...","[{'id': 85, 'name': 'Peach (Halloween)', 'rari...",[]
221,Wii Maple Treeway T,Halloween Tour (2020),2020-10-21T00:00:00.000Z,Mario Kart Wii,Wii,False,False,False,True,"[{'id': 68, 'name': 'Luigi (Classic)', 'rarity...","[{'id': 90, 'name': 'Cat Peach', 'rarity': 'Hi...","[{'id': 84, 'name': 'Mario (Halloween)', 'rari..."

In [4]:
# Drop unwanted columns: debut_tour, debut_game, debut_system, date_added, is_ranked_week_1, is_ranked_week_2
drop_columns = ["debut_tour","debut_game","debut_system","date_added","is_ranked_week_1","is_ranked_week_2","level_one_top_shelf_drivers","level_three_top_shelf_drivers","level_six_top_shelf_drivers"]
courses_df = courses_df.drop(columns=(drop_columns), axis=1)
courses_df

                           name  is_reverse  is_trick
0        3DS Cheep Cheep Lagoon       False     False
1      3DS Cheep Cheep Lagoon R        True     False
2    3DS Cheep Cheep Lagoon R/T        True      True
3      3DS Cheep Cheep Lagoon T       False      True
4               3DS Daisy Hills       False     False
..                          ...         ...       ...
217             Wii DK Summit R        True     False
218             Wii DK Summit T       False      True
219           Wii Maple Treeway       False     False
220         Wii Maple Treeway R        True     False
221         Wii Maple Treeway T       False      True

[222 rows x 3 columns]

In [5]:
courses_df.to_csv("Resources/courses.csv",index=False)